@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
}


/* banner-image */

.banner-image {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(../images/aquascaping-photo.JPG);
    background-size: cover;
    background-position: center;
}


/* logo and navigation bar */


.nav-bar {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 500px;
    cursor: pointer;
    padding: 40px;
}


.nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}


.nav-bar img {
    padding-left: 0px;
}


.nav-bar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}


.nav-bar ul li::after {
    content: '';
    height: 5px;
    width: 0;
    background: #4682B4;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.7s;
}


.nav-bar ul li:hover::after {
    width: 100%;
}


/* headings and button */


.maintext {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.maintext h1 {
    text-transform: uppercase;
    margin-top: 400px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
}


.maintext p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    letter-spacing: 3px;
    margin-top: 60px;
}


button {
    width: 180px;
    padding: 20px 0;
    margin: 100px 0px;
    text-align: center;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: 3px solid #4682B4;
    background: transparent;
    color: #fff;
    cursor: pointer;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
}


span {
    background: #4682B4;
    height: 100%;
    width: 0;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.7s;
}


button:hover span {
    width: 100%;
}


button:hover {
    border: none;
}


/* footer */


footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
}


.social-links {
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.social-links > li {
    display: inline;
}

footer i {
    font-size: 130%;
    margin: 1%;
    padding: 5%;
    color: #4682B4;
}